---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 10
  template:
    metadata:
      labels:
        app: http
    spec:
      containers:
      - name: twopc
        image: sebastianharko/2pc:6.0
        imagePullPolicy: Always
        env:
        - name: ROLE1
          value: "HTTP"
        - name: CASS
          value: "cassandra-0.cassandra.default.svc.cluster.local"
        - name: QUERY_HTTP_TIMEOUT
          value: "500"
        - name: HTTP_TIMEOUT
          value: "700"
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        ports:
        - containerPort: 8080
        - containerPort: 19999
        - containerPort: 2551
        resources:
          requests:
            cpu: 2
            memory: 2Gi
          limits:
            cpu: 2
            memory: 2Gi


