---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: accounts
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: accounts
    spec:
      containers:
      - name: twopc
        image: sebastianharko/2pc:7.0
        imagePullPolicy: Always
        env:
        - name: ROLE
          value: "account"
        - name: SHARD_ROLE
          value: "account"
        - name: CASS
          value: "cassandra-0.cassandra.default.svc.cluster.local"
        - name: NUM_SHARDS_ACCOUNTS
          value: "12"
        - name: ACCOUNT_TIMEOUT
          value: "2000"
        - name: PASSIVATE_ACCOUNT
          value: "120"
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        ports:
        - containerPort: 8080
        - containerPort: 19999
        - containerPort: 2551
        resources:
          requests:
            cpu: 6
            memory: 16Gi
          limits:
            cpu: 6
            memory: 16Gi
