---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: http
    spec:
      containers:
      - name: twopc
        image: sebastianharko/2pc:6.5
        imagePullPolicy: Always
        env:
        - name: ROLE
          value: "HTTP"
        - name: SHARD_ROLE
          value: ""
        - name: CASS
          value: "cassandra-0.cassandra.default.svc.cluster.local"
        - name: QUERY_HTTP_TIMEOUT
          value: "500"
        - name: HTTP_TIMEOUT
          value: "300"
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        ports:
        - containerPort: 8080
        - containerPort: 19999
        - containerPort: 2551
        resources:
          requests:
            cpu: 1.5
            memory: 1Gi
          limits:
            cpu: 1.5
            memory: 1Gi


