---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: coordinators
spec:
  replicas: 1
  template:
    metadata:
    spec:
      containers:
      - name: twopc
        image: sebastianharko/2pc:6.0
        imagePullPolicy: Always
        env:
        - name: ROLE1
          value: "COORDINATOR"
        - name: CASS
          value: "cassandra-0.cassandra.default.svc.cluster.local"
        - name: NUM_SHARDS_COORD
          value: "50"
        - name: PASSIVATE_COORD
          value: "120"
        - name: VOTING_TIMEOUT
          value: "1200"
        - name: COMMIT_TIMEOUT
          value: "500"
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        ports:
        - containerPort: 8080
        - containerPort: 19999
        - containerPort: 2551
        resources:
          requests:
            cpu: 8
            memory: 32Gi
          limits:
            cpu: 8
            memory: 32Gi