---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: http-deployment
spec:
  replicas: 4
  template:
    metadata:
      labels:
        app: http
    spec:
      containers:
      - name: twopc
        image: sebastianharko/2pc:7.0
        imagePullPolicy: Always
        env:
        - name: ROLE
          value: "http"
        - name: SHARD_ROLE
          value: ""
        - name: BALANCE_QUERY_TIMEOUT
          value: "350"
        - name: TRANSACTION_TIMEOUT
          value: "500"
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        ports:
        - containerPort: 8080
        - containerPort: 19999
        - containerPort: 2551
        resources:
          requests:
            cpu: 5
            memory: 4Gi
          limits:
            cpu: 5
            memory: 4Gi

